@font-face {
  font-family: "SF Pro";
  src: url(fonts/SF-Pro-Display-Regular.woff);
  font-weight: normal;
}

body {
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
}

.topbar a {
  text-decoration: none;
  color: initial;
  display: inline;
}

.searchbar {
  display: inline;
  justify-content: center;
}

.topright_buttons {
  float: right;
}

.circlebutton {
  -webkit-appearance: button;
  border: solid;
  height: 25pt;
  width: 25pt;
  text-align: center;
  border-radius: 100%;
}

nav {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.card {
  padding: 1%;
  display: flex;
  border: solid;
  border-color: lightgray;
  border-radius: 5%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.cards h3 {
  display: flex;
  justify-content: center;
}


/* Allows certain interactive elements to be hidden from the display */
.hidden {
  display: none;
}