@font-face {
  font-family: "SF Pro";
  src: url(fonts/SF-Pro-Display-Regular.woff);
  font-weight: normal;
}

body {
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
}

.listing_card {
  border: none;
  border-radius: 2pt;
  box-shadow: 0 0 0 1pt grey;
}

/* Allows certain interactive elements to be hidden from the display */
.hidden {
  display: none;
}